body {
  background-color: #f4b41a;
  margin: 0px 0px;
  overflow-x: hidden;
}
header {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #143d59 !important;
}
.header-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

li {
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

li:hover {
  text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
}

/* animation */

.menu-btn-one {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60px;
  height: 60px;
}

.line {
  width: 50px;
  height: 1px;
  background-color: white;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.line-one {
  top: 0;
}

.line-two {
  opacity: 1;
}

.line-three {
  top: 0;
}

.line-one.open {
  transform: rotate(45deg);
  top: 20px;
}

.line-two.open {
  opacity: 0;
}

.line-three.open {
  transform: rotate(-45deg);
  top: -20px;
}

.menu-box {
  top: 80px;
  right: -250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  font-size: 20px;
  width: 250px;
  height: 200px;
  background-color: #143d59;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s ease-in-out;
  list-style: none;
  color: white;
  text-transform: uppercase;
}

.menu-box.open {
  right: 0px;
}

.menu-bloc {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-button {
  margin-left: 20px;
}

.modal-btn {
  font-size: 20px;
  width: 120px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  color: white;
  background-color: #143d59;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.modal-btn:hover {
  text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
}

.modal-block {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(20, 61, 89, 0.4);
}

.modal-block-container {
  display: flex;
  background-color: #f4b41a;
  padding: 20px 20px 30px 20px;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  width: 330px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%) translateY(50%);
}

h2 {
  margin-top: 0px;
  color: #143d59;
  text-decoration: solid;
}
.remember-me-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#username,
#password {
  font-family: "Montserrat", sans-serif;
  color: #143d59;
}
input[type="text"] {
  border: none;
  background-color: #f4b41a;
  border-bottom: #143d59 1px solid;
}
input[type="text"]:focus {
  outline: none;
  background-color: #f4b41a;
}

button {
  background-color: #143d59;
  font-family: "Montserrat", sans-serif;
  color: white;
  width: 80px;
  height: 40px;
  border: none;
  cursor: pointer;
}

button:hover {
  text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
}

.checkbox-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal-block.open {
  display: flex;
}

.container {
  padding-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #143d59;
  width: 300px;
  height: 400px;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 200;
}

.image {
  width: 300px;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}

.carousel {
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.carousel-button-one,
.carousel-button-two,
.carousel-button-three {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: rgba(20, 61, 89, 0.2);
  border-radius: 50%;
  z-index: 100;
  transition: all 0.5s ease-in-out;
}
.candle-one {
  background-image: url(./assets/candle-blue-three.jpg);
  background-size: cover;
}

.candle-two {
  background-image: url(./assets/candle-wine-two.jpg);
  background-size: cover;
}

.candle-three {
  background-image: url(./assets/candle-orange-three.jpg);
  background-size: cover;
}

.carousel-button-one:hover,
.carousel-button-two:hover,
.carousel-button-three:hover {
  background: rgba(20, 61, 89, 0.5);
}

.image-blue-two {
  position: absolute;
  z-index: -4;
  transition: all 0.5s ease-in-out;
}

.image-blue-three {
  position: absolute;
  z-index: -3;
  transition: all 0.5s ease-in-out;
}

.image-blue-two.open {
  z-index: 0;
}

.candle-one.open {
  z-index: 0;
}

.image-blue-three.open {
  z-index: 0;
}
