body {
  background-color: #f4b41a;
  margin: 0px 0px;
  overflow-x: hidden;
}
header {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #143d59 !important;
}
.header-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

li {
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

li:hover {
  text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
}

/* animation */

.menu-btn-one {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60px;
  height: 60px;
}

.line {
  width: 50px;
  height: 1px;
  background-color: white;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.line-one {
  top: 0;
}

.line-two {
  opacity: 1;
}

.line-three {
  top: 0;
}

.line-one.open {
  transform: rotate(45deg);
  top: 20px;
}

.line-two.open {
  opacity: 0;
}

.line-three.open {
  transform: rotate(-45deg);
  top: -20px;
}

.menu-box {
  top: 80px;
  right: -250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  font-size: 20px;
  width: 250px;
  height: 200px;
  background-color: #143d59;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s ease-in-out;
  list-style: none;
  color: white;
  text-transform: uppercase;
}

.menu-box.open {
  right: 0px;
}

.menu-bloc {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-button {
  margin-left: 20px;
}

.login-btn {
  font-size: 20px;
  width: 120px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  color: white;
  background-color: #143d59;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.login-btn:hover {
  text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
}

.login-button:hover {
  border-color: #f4b41a !important;
  border-width: 1px !important;
}
