body {
  background-color: #f4b41a;
  margin: 0px 0px;
}
header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 80px;
  background-color: #143d59 !important;
}
.header-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

li {
  padding-left: 20px;
  padding-right: 20px;
}

li:hover {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.more-btn {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.more-btn-burger {
  width: 50px;
  height: 1px;
  background: white;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

.more-btn-burger::before,
.more-btn-burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  background: white;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

.more-btn-burger::before {
  transform: translateY(-16px);
}

.more-btn-burger::after {
  transform: translateY(16px);
}
